h1{
    margin: 0px;
}

h2{
    font-size: 30px;
    color: #1fa971;
    text-align: left;
}

.navbar{
    margin-bottom: 0px;
}

#page-content{
    margin-top: 50px;
}

.validation-alert{
    background-color: #d21937;
    border-color: #d21937;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0px;
    font-size: 16px;

    li{
        font-size: 16px;
    }
}