
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


.list-group-item{
    min-height: 44px;
}

.profile-docs{
    padding-top: 20px;
    text-align: center;

    .profile-docs-img{
        max-width: 150px;
        display: block;
        margin: 0 auto;
    }
}